<h3>Create a Task</h3>
<form method="POST" action="/tasks">
<p>Name: <input type="text" name="name"></p>
<p>Description: <input type="text" name="description"></p>
<p>Select A City: <input type="text" name="city_id"></p>
<p>If no city is listed, create one!</p>
<input type="submit" name="submit" value="submit">
</form>
