<h3>Edit Task</h3>
<form method="POST" action="/tasks/<%=@task.id%>">
<input type="hidden" name="_method" value="patch" id="hidden">
<p>Name: <input type="text" name="name" value="<%=@task.name%>"></p>
<p>Description: <input type="text" name="description" value="<%=@task.description%>"></p>
<input type="submit" name="submit" value="submit">
</form>
