<h3>Edit Task</h3>
<form method="POST" action="/tasks/<%=@task.id%>">
<input type="hidden" name="_method" value="patch" id="hidden">
<input type="text" name="name" value="<%=@task.name%>">
<input type="text" name="description" value="<%=@task.description%>">
<input type="submit" name="submit" value="submit">
</form>
