<h1> First Step: Sign Up </h1>
<form method="POST" action="/signup">
  <p>Email: <input type="text" name="email" placeholder="email"></p>
  <p>Username: <input type="text" name="username" placeholder="username"></p>
  <p>Password: <input type="text" name="password" placeholder="password"></p>
  <input type="submit" name="submit" value="submit">
</form>
