<h3>Welcome <%=current_user.username.capitalize%>!</h3>
We're so glad you're on Urban Wonder.
Take a look around. Click 'New City' at the top to create a city. Or click 'New Action' to create an action.

<!--
<form action="upload.php" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form> -->
