<h3>Welcome <%=current_user.username.capitalize%>!</h3>
We're so glad you're on Urban Wonder.
Take a look around. Click 'New City' at the top to create a city. Or click 'New Action' to create an action.
