<h3>Welcome <%=current_user.username.capitalize%>!</h3>
We're so glad you're on Urban Wonder.
Take a look around. Click 'Add City' at the top to create a city. Or click 'Add Experience' to plan a new adventure.
