<!doctype html>
<html>
  <head>
    <title>Urban Wonders</title>
  </head>
  <body>
    <% if logged_in? %>
      <a href="/index">New Tweet</a>
      <a href="/index">Log Out</a>

    <% else %>
      <a href="/index">Sign Up</a>
      <a href="/index">Login</a>
      <% end %>
    <div class="container">
      <%=yield%>
    </div>
  </body>
</html>
