<!doctype html>
<html>
  <head>
    <title>Urban Wonders</title>
  </head>
  <body>
    <% if logged_in? %>
      <a href="/cities/new">New City</a>
      <a href="/tasks/new">New Action</a>
      <a href="/logout">Log Out</a>

    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% end %>
    <div class="container">
      <%=yield%>
    </div>
  </body>
</html>
