<!-- <!doctype html>
<html>
  <head>
    <title>Urban Wonder</title>
  </head>
  <body>
    <% if logged_in? %>
      <a href="/cities/new">New City</a>
      <a href="/tasks/new">New Action</a>
      <a href="/logout">Log Out</a>

    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% end %>
    <div class="container">
      <%=yield%>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Urban Wonder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <% if logged_in? %>
    <a href="/cities/new">New City</a>&nbsp;&nbsp;
    <a href="/tasks/new">New Action</a>&nbsp;&nbsp;
    <a href="/logout">Log Out</a>

  <% else %>
    <a href="/signup">Sign Up</a>&nbsp;&nbsp;
    <a href="/login/">Login</a>
    <% end %>
  <h1>Urban Wonder</h1>
  <p>The world is full of adventure!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <% if logged_in? %>
        <h3><a href="/cities/new">My Cities</a></h3>
          <%  @cities = current_user.cities %>
          <% @cities.each do |city| %>
          <p><%=city.name%></p>
          <% end %>
      <% else %>
        <h3><a href="/login/">Login!</a></h3>
        <p>Log in to Urban Wonder and plan your next getaway! </p>
      <%end%>
    </div>
    <div class="col-sm-4">
      <%=yield%>
    </div>
    <div class="col-sm-4">
      <h3>Memories</h3>
      <p>This is a list of your completed actions. Read through them for a walk down memory lane.</p>
    </div>
  </div>
</div>

</body>
</html>
